.search-container {
    position: relative;
}

#search-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.suggestions-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px 5px 10px 10px;
    box-shadow: 3px 4px rgba(255, 255, 255, 0.1);
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background: #f0f0f0;
}